Belt(BeltRandomGen(
	center: None,
	radius: MinMax(
		min: 3.0,
		max: 20.0,
	),
	vel: MinMax(
		min: 0.005,
		max: 0.1,
	),
	vel_angle: MinMax(
		min: -5.0,
		max: 5.0,
	),
	direction: CCW,
	mass: MinMax(
		min: 0.01,
		max: 0.07,
	),
))